<div class="overlay" (click)="onOverlayCLick()"></div>
<div class="modal py-4 px-4 sm:py-16 sm:px-20">
  <a routerLink="/" class="close">✕</a>

  <app-title [title]="'About this CV'" class="text-indigo-800"></app-title>

  <div class="item py-1 flex flex-col sm:flex-row justify-start sm:justify-between flex-nowrap md:flex-wrap">
    <strong class="title text-indigo-800">Repository:</strong>
    <div class="description text-sm">
      <a href="https://github.com" target="_blank">Github</a>
    </div>
  </div>

  <div class="item py-1 flex flex-col sm:flex-row justify-start sm:justify-between flex-nowrap md:flex-wrap">
    <strong class="title text-indigo-800">Framework:</strong>
    <div class="description text-sm">
      <a href="https://angular.io/" target="_blank">Angular</a> +
      <a href="https://angular.io/guide/universal" target="_blank">SSR</a>
    </div>
  </div>

  <div class="item py-1 flex flex-col sm:flex-row justify-start sm:justify-between flex-nowrap md:flex-wrap">
    <strong class="title text-indigo-800">CSS framework:</strong>
    <div class="description text-sm">
      <a href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a>
    </div>
  </div>

  <div class="item py-1 flex flex-col sm:flex-row justify-start sm:justify-between flex-nowrap md:flex-wrap">
    <strong class="title text-indigo-800">Linting:</strong>
    <div class="description text-sm">
      <a href="https://eslint.org/" target="_blank">ESLint</a>,
      <a href="https://github.com/conventional-changelog/commitlint" target="_blank">CommitLint</a>,
      <a href="https://stylelint.io/" target="_blank">StyleLint</a>
    </div>
  </div>

  <h3 class="pt-7 pb-3">TO-DO</h3>

  <div class="item py-1 flex flex-col sm:flex-row justify-start sm:justify-between flex-nowrap md:flex-wrap opacity-50">
    <strong class="title text-indigo-800">Tests:</strong>
    <div class="description text-sm">Karma, Cypress</div>
  </div>

  <div class="item py-1 flex flex-col sm:flex-row justify-start sm:justify-between flex-nowrap md:flex-wrap opacity-50">
    <strong class="title text-indigo-800">Tool for building UI:</strong>
    <div class="description text-sm">Storybook</div>
  </div>

  <div class="item py-1 flex flex-col sm:flex-row justify-start sm:justify-between flex-nowrap md:flex-wrap opacity-50">
    <strong class="title text-indigo-800">Error Tracking:</strong>
    <div class="description text-sm">Sentry</div>
  </div>

  <div class="item py-1 flex flex-col sm:flex-row justify-start sm:justify-between flex-nowrap md:flex-wrap opacity-50">
    <strong class="title text-indigo-800">State manager:</strong>
    <div class="description text-sm">Akita</div>
  </div>

  <div class="item py-1 flex flex-col sm:flex-row justify-start sm:justify-between flex-nowrap md:flex-wrap opacity-50">
    <strong class="title text-indigo-800">Service Workers</strong>
  </div>

  <div class="item py-1 flex flex-col sm:flex-row justify-start sm:justify-between flex-nowrap md:flex-wrap opacity-50">
    <strong class="title text-indigo-800">Dark mode</strong>
  </div>

  <div class="item py-1 flex flex-col sm:flex-row justify-start sm:justify-between flex-nowrap md:flex-wrap opacity-50">
    <strong class="title text-indigo-800">Print button with custom styles</strong>
  </div>

  <div class="item py-1 flex flex-col sm:flex-row justify-start sm:justify-between flex-nowrap md:flex-wrap opacity-50">
    <strong class="title text-indigo-800">Google Performance Score</strong>
  </div>

  <div class="item py-1 flex flex-col sm:flex-row justify-start sm:justify-between flex-nowrap md:flex-wrap opacity-50">
    <strong class="title text-indigo-800">CI\CD Github Actions</strong>
  </div>

  <div class="item py-1 flex flex-col sm:flex-row justify-start sm:justify-between flex-nowrap md:flex-wrap opacity-50">
    <strong class="title text-indigo-800">Microdata</strong>
  </div>

  <div class="item py-1 flex flex-col sm:flex-row justify-start sm:justify-between flex-nowrap md:flex-wrap opacity-50">
    <strong class="title text-indigo-800">RestAPI or GraphQL</strong>
  </div>

  <div class="item py-1 flex flex-col sm:flex-row justify-start sm:justify-between flex-nowrap md:flex-wrap opacity-50">
    <strong class="title text-indigo-800">Accessibility</strong>
  </div>
</div>

