@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  a {
    @apply underline;
  }

  a:hover {
    @apply text-gray-500;
  }

  body {
    background-color: #f3f7fd;
    background-image: linear-gradient(160deg, #f3f7fd 0%, #dcdfe4 100%);
  }
}
